In [19]:
import pandas as pd

In [20]:
# ler dataset
mel_data = pd.read_csv(r"C:\Users\HP\Desktop\2022\kaggle\Melbourne_Housing\melb_data.csv")

In [21]:
# Filtrar linhas sem preço de venda
filter_mel_data = mel_data.dropna(axis=0)

In [22]:
# Escolhe target e colunas
y = filter_mel_data.Price
mel_colunas = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
                        'YearBuilt', 'Lattitude', 'Longtitude']
X = filter_mel_data[mel_colunas]

In [23]:
y.head()

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

In [24]:
X.head()

   Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  Longtitude
1      2       1.0     156.0          79.0     1900.0   -37.8079    144.9934
2      3       2.0     134.0         150.0     1900.0   -37.8093    144.9944
4      4       1.0     120.0         142.0     2014.0   -37.8072    144.9941
6      3       2.0     245.0         210.0     1910.0   -37.8024    144.9993
7      2       1.0     256.0         107.0     1890.0   -37.8060    144.9954

In [9]:
pip install sklearn

Requirement already satisfied: sklearn in c:\users\hp\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\hp\anaconda3\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.2.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.7.1)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [16]:
# Importa a biblioteca DecisionTreeeRegressor
from sklearn.tree import DecisionTreeRegressor

# Define modelo. 
melbourne_model = DecisionTreeRegressor()

# Ajusta modelo
melbourne_model.fit(X, y)

DecisionTreeRegressor()

In [17]:
# Calcula a media de erro absoluto
from sklearn.metrics import mean_absolute_error

previsao_home_prices = melbourne_model.predict(X)
mean_absolute_error(y, previsao_home_prices)

434.71594577146544

In [18]:
# Usando validação com train_test_split
from sklearn.model_selection import train_test_split

# split data em training and validation data, para ambas as colunas e target
# o split se baseia na geração de números randômicos. Fornecer valor numérico para random_state 
# garantira que teremos a mesma variação quando executar o este script
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

# Define modelo
melbourne_model.fit(train_X, train_y)

# Encontra previsao de preços com validação dos dados
val_predictions = melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

266157.8921885087